/* body{
    background-color: lawngreen;
} */

img{
    height: 300px;
    width: 450px;
    opacity: 0.5;
}

img:hover{
    opacity: 0.3;
}

section{
    background-color: rgb(124, 252, 0 , 0.7);
    /* opacity: 0.4; */
    padding: 20px;
    border-radius: 9px;
    border-bottom: 4px solid red;
    background-image: url(./lizard-g26a0a22e2_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}
div.section-1-content{
    background-color: hsla(90, 100%, 49% ,0.4);
}






